{% load staticfiles i18n %}
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-user">

      {% if request.user.is_authenticated %}

        <!-- User name -->
        <li>
          <a>Signed as <b>{{ request.user.username }}</b>
          </a>
        </li>

        <!-- divider -->
        <li class="divider"></li>

        <!-- Profile -->
        <li>
          <a href="{% url 'users:detail' request.user.username  %}">
            <i class="fa fa-user fa-fw"></i>
            {% trans "My Profile" %}
          </a>
        </li>

        <!-- Settings -->
        <li>
          <a href="{% url 'account_email' %}">
            <i class="fa fa-gear fa-fw"></i>
            {% trans "Settings" %}
          </a>
        </li>

        <!-- divider -->
        <li class="divider"></li>

        <!-- Logout -->
        <li>
          <a href="{% url 'account_logout' %}">
            <i class="fa fa-sign-out fa-fw"></i>
            {% trans "Logout" %}
          </a>
        </li>
      {% else %}
        <li class="nav-item"><a class="nav-link" href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'account_login' %}">{% trans "Log In" %}</a></li>
      {% endif %}

    </ul>
    <!-- /.dropdown-user -->
</li> <!-- /.dropdown -->
