{% load staticfiles i18n %}
<!DOCTYPE html>
<html lang="en" ng-app>

  <head>

    <title>{% block title %}leukgen{% endblock title %}</title>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Juan Medina">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% block css %}
    {% include "config/css.html" %}
    {% endblock %}

    {% block app_css %}
    {% endblock %}

    {% block angular %}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    {% endblock %}

  </head>

  <body>
    <div id="wrapper">

      <!-- Navigation -->
      {% include "config/navigation.html" %}

      <!-- Page Content -->
      <div id="page-wrapper">

        <!-- Block Content -->
        {% block content%}
        {% endblock content %}

        <!-- Messegaes Handling -->
        {% if messages %}
            {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
            {% endfor %}
        {% endif %}
      </div> <!-- /#page-wrapper -->
    </div> <!-- /#wrapper -->

    <!-- ======================= Le javascript ======================= -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}
    {% include "config/js.html" %}
    {% endblock javascript %}
  </body>
</html>

