{% extends "individuals/base.html" %}

{% load static %}
{% block title %}Individual: {{ individual }}{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h2>{{ individual }}</h2>
      {% if individual.name %}
        <p>{{ individual.name }}</p>
      {% endif %}
    </div>
  </div>

<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12 ">
    <a  class="btn btn-primary"
        href="{% url 'individuals:update' leukid=individual.leukid %}">
        Update
    </a>
    <!-- Your Stuff: Custom Individual template urls -->
  </div>

</div>
<!-- End Action buttons -->


</div>
{% endblock content %}

