{% extends "individuals/base.html" %}

{% load crispy_forms_tags %}
{% block title %}{{ individual }}{% endblock %}

{% block content %}
    <h1>{{ individual }}</h1>
    <form class="form-horizontal"
          method="post"
          action="{% url 'individuals:update' individual.pk %}">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn">Update</button>
          </div>
        </div>
    </form>
{% endblock %}
