{% extends "core/base.html" %}

{% load static %}{% load i18n %}
{% block title %} {{ object_list.0.APP_NAME|title }} {% endblock %}

{% block content %}
<br/>
<div class="container-fluid">
    <h2>{{ object_list.0.APP_NAME|title }}</h2>
    <div class="list-group">
        {% for object in object_list %}
          <a  href="{{ object.get_absolute_url }}"
              class="list-group-item">
            <h4 class="list-group-item-heading">{{ object }}</h4>
          </a>
        {% endfor %}
    </div>
</div>
{% endblock content %}
