### OSX ###
.DS_Store
.AppleDouble
.LSOverride


### SublimeText ###

# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
# *.sublime-project

# workspace files are user-specific
*.sublime-workspace


### Docs ###

# build folder doesn't need to be pushed
docs/build


### Python ###
*.py[cod]
*.pyc
__pycache__


### Other ###

## sftp configuration file
sftp-config.json

## Translations
*.mo
*.pot

## Logs
*.log
pip-log.txt
tmp/

## Unit test / coverage reports
.coverage
.tox
nosetests.xml
htmlcov

# Pycharm
.idea

# Vimå
*~
*.swp
*.swo

# npm
node_modules/

# Compass
.sass-cache

# virtual environments
.hitch/

# vagrant
.vagrant

### Django
/staticfiles

# CSV
*.csv
*.tsv

# Images
*.JPG
*.jpg
*.png
