{% load staticfiles i18n %}
<!DOCTYPE html>
<html lang="en" ng-app>

  <head>
    {% block head %}
      <title>{% block title %}juan{% endblock title %}</title>

      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="Juan Medina">

      <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
      <!--[if lt IE 9]>
        <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
    {% endblock head %}

    {% block css %}

      <!-- Leukapp CSS -->
      <link
      href="{% static 'css/project.css' %}"
      rel="stylesheet">

      <!-- Bootstrap Core CSS -->
      <link
      href="{% static 'sbadmin2/bower_components/bootstrap/dist/css/bootstrap.min.css' %}"
      rel="stylesheet">

      <!-- MetisMenu CSS -->
      <link
      href="{% static 'sbadmin2/bower_components/metisMenu/dist/metisMenu.min.css' %}"
      rel="stylesheet">

      <!-- Timeline CSS -->
      <link
      href="{% static 'sbadmin2/dist/css/timeline.css' %}"
      rel="stylesheet">

      <!-- Sb admin Custom CSS -->
      <link
      href="{% static 'sbadmin2/dist/css/sb-admin-2.css' %}"
      rel="stylesheet">

      <!-- Morris Charts CSS -->
      <link
      href="{% static 'sbadmin2/bower_components/morrisjs/morris.css' %}"
      rel="stylesheet">

      <!-- Custom Fonts -->
      <link
      href="{% static 'sbadmin2/bower_components/font-awesome/css/font-awesome.min.css' %}"
      rel="stylesheet" type="text/css">

      <!-- Tokeninput CSS http://loopj.com/jquery-tokeninput/ -->
      <link
      href="{% static 'tokeninput/css/token-input.css' %}"
      rel="stylesheet">
      <link
      href="{% static 'tokeninput/css/token-input-facebook.css' %}"
      rel="stylesheet">

    {% endblock %}

    {% block app_css %}
    {% endblock %}

    {% block angular %}
      <script
        src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js">
      </script>
    {% endblock %}
  </head>

  <body>
    {% block body%}
      <div id="wrapper">

        <!-- Navigation -->
        {% block navigation%}
        {% include "sbadmin2/navigation/navigation.html" %}
        {% endblock navigation %}

        <!-- Page Content -->
        <div id="page-wrapper">
          <!-- Messegaes Handling -->
          {% if messages %}
              {% for message in messages %}
                  <br/>
                  <div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
              {% endfor %}
          {% endif %}

          <!-- Block Content -->
          {% block content%}
          {% endblock content %}

        </div> <!-- /#page-wrapper -->
      </div> <!-- /#wrapper -->
    {% endblock body %}

    <!-- ======================= Le javascript ======================= -->
    <!-- Placed at the end of the document so the pages load faster -->

    {% block javascript %}
      <!-- jQuery -->
      <script
      src="{% static 'sbadmin2/bower_components/jquery/dist/jquery.min.js' %}">
      </script>

      <!-- Leukapp JavaScript -->
      <script
      src="{% static 'js/project.js' %}"
      type="text/javascript">
      </script>

      <!-- Bootstrap Core JavaScript -->
      <script
      src="{% static 'sbadmin2/bower_components/bootstrap/dist/js/bootstrap.min.js' %}">
      </script>

      <!-- Metis Menu Plugin JavaScript -->
      <script
      src="{% static 'sbadmin2/bower_components/metisMenu/dist/metisMenu.min.js' %}">
      </script>

      <!-- Custom Theme JavaScript -->
      <script
      src="{% static 'sbadmin2/dist/js/sb-admin-2.js' %}">
      </script>

      <!-- Dajngo modal-view -->
      <script
      src="{% static 'django_modalview/js/django_modal_view.js' %}"
      type="text/javascript" >
      </script>

      <script
      type="text/javascript"
      src="{% static 'django_modalview/js/jquery.form.js' %}">
      </script>

      <script
      src="{% static 'django_modalview/js/mymodals.js' %}"
      type="text/javascript">
      </script>

      <!-- Tokeinput JavaScript -->
      <script
      src="{% static 'tokeninput/js/jquery.tokeninput.js' %}">
      </script>
    {% endblock javascript %}

    {% block extra_javascript %}
    {% endblock extra_javascript %}

    {% include 'autocomplete_light/static.html' %}
  </body>

</html>
