<li>
    <a href="{% url 'projects:list' %}">
      <i class="fa fa-flask fa-fw"></i>
      Projects
    </a>
</li>

<li>
    <a href="{% url 'leukforms:list' %}">
      <i class="fa fa-edit fa-fw"></i>
      Leukform
    </a>
</li>

<!--
<li>
    <a href="{% url 'participants:list' %}">
      <i class="fa fa-users fa-fw"></i>
      Participants
    </a>
</li>

<li>
    <a href="{% url 'individuals:list' %}">
      <i class="fa  fa-linux fa-fw"></i>
      Individuals
    </a>
</li>

<li>
    <a href="{% url 'specimens:list' %}">
      <i class="fa fa-flask fa-fw"></i>
      Specimens
    </a>
</li>

<li>
    <a href="{% url 'aliquots:list' %}">
      <i class="fa fa-tint fa-fw"></i>
      Aliquots
    </a>
</li>
-->
