{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}To-Do lists{% endblock %}

{% block angular %}
{% endblock %}

{% block content %}
<h2>Your To-Do list</h2>

<form method="POST" action="/lists/new">
  {% csrf_token %}
  <input type="text" name="item_text"
  id="id_new_item" placeholder="Enter a to-do item"/>
</form>

<table id="id_list_table">
  {% for item in items %}
    <tr><td>{{ forloop.counter }}: {{ item.text }}</td></tr>
  {% endfor %}
</table>
{% endblock content %}

