{% extends "core/base.html" %}

{% load static %}
{% block title %} {{object}} {% endblock %}

{% block content %}
<!-- Create Button -->
{% with object.APP_NAME|add:":create" as create_url %}
<a href="{% url create_url %}">
  <button type="button"
          class="fixed-btn btn btn-danger btn-circle btn-lg">
    <i class="fa glyphicon-plus"></i>
  </button>
</a>
{% endwith %}

<br/>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          {% block panel_title %} {{ object }} {% endblock %}
        </div>
        <div class="panel-body">
        {% block detail_body %}
          <div class="row">
            <div class="col-sm-12 ">
              <a  class="btn btn-primary"
                  href="{{ object.get_update_url }}">
                  Update
              </a>
            </div>
          </div>
        {% endblock %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
