{% extends "core/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
  {% if object %}
      {{ object }}
  {% else %}
      Create
  {% endif %}
{% endblock %}

{% block content %}
<!-- Create Button -->
{% if object %}
    {% with object.APP_NAME|add:":create" as create_url %}
    <a href="{% url create_url %}">
      <button type="button"
              class="fixed-btn btn btn-danger btn-circle btn-lg">
        <i class="fa glyphicon-plus"></i>
      </button>
    </a>
    {% endwith %}
{% else %}
{% endif %}

<br/>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
        {% if object %}
            {{ object.APP_NAME|title }}: {{ object }}
        {% else %}
            Create Form
        {% endif %}
        </div>
        <div class="panel-body">
        {% block panel_body %}
        {% endblock %}
          <form method="post"
                action="."
                enctype="multipart/form-data">
              {% csrf_token %}
              {{ form|crispy }}
              <div class="control-group">
                <div class="controls">
                  <button class="btn btn-primary btn-block"
                          name="action_add"
                          type="submit"
                          onClick="this.form.submit(); this.disabled=true;">
                    Submit
                  </button>
                </div>
              </div>
          </form>
        </div>
        {% if footer %}
        <div class="panel-footer">
            {{ footer }}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
