{% load crispy_forms_tags %}
{% load i18n %}

<br/>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
            {{ head }}
        </div>
        <div class="panel-body">
        {% block panel_body %}
        {% endblock %}
          <form method="post"
                action="{{ url_dir }}"
                enctype="multipart/form-data">
              {% csrf_token %}
              {{ form|crispy }}
              <div class="control-group">
                <div class="controls">
                  <button class="btn btn-primary btn-block"
                          name="action_add"
                          type="submit"
                          onClick="this.form.submit(); this.disabled=true;">
                    {% trans btn_text %}
                  </button>
                </div>
              </div>
          </form>
        </div>
        {% if footer %}
        <div class="panel-footer">
            {% trans footer %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
